extends ../layout
block body
block script
	script( defer type='module' src='/js/page/home.js')

	div(class='h-screen p-2')
		div(class='flex h-full p-2 border border-slate-200 rounded-md')

			div(name='left-side' class='w-3/4 flex flex-col')
				div(name='left-top' class='h-16 mb-1 py-1 pr-1 border-b border-slate-300')
					div(name='list-container' class='flex gap-2 h-full px-2 py-1 border border-slate-300 rounded')
						img(src='/images/users/default.jpg' alt='avatar' class='border border-slate-300 rounded-full')

						div(class='label-container' class='flex-1')
							p(name='username' class='text-blue-600 font-medium max-w-40 truncate') Riajul Islam
							p(name='title' class='text-slate-600 font-light text-sm -mt-1 max-w-40 truncate') Senior Developer 
						
						div(class='flex items-center justify-end')
							button(name='left-arrow' type='button'
								class='p-1 border border-slate-200  text-slate-500 rounded-full'
								class='hover:border-slate-300 hover:bg-slate-50 hover:text-slate-600'
							)
								<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6z"/></svg>

				div(name='search-container' class='my-2 relative flex justify-center items-center')
					input(type='search' id='search-friends' placeholder='Search Friends'
						class='w-full pl-8 pr-3 py-1.5 mr-1 rounded-md text-slate-700'
						class='border border-slate-300 focus:outline-none focus:border-blue-500'
						class='peer/search-friends'
					)
					label(for='search-friends' class='peer-focus/search-friends:text-blue-500 absolute left-2 text-slate-500 cursor-pointer')
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"/></svg>

				div(name='left-main' class='h-full divide-y border border-slate-300 overflow-x-auto  bg-slate-100 rounded')
					div(name='list-container' class='flex gap-2 px-2 py-1 bg-slate-50 hover:bg-slate-100 border-0 border-slate-300 rounded')
						div(class='flex-shrink-0')
							img(src='/images/users/default.jpg' alt='avatar' class='h-10 border border-slate-300 rounded-full')

						div(class='label-container' class='flex-1')
							div(name='name-container' class='flex items-center justify-between')
								p(name='username' class='text-blue-600 font-medium max-w-36 truncate') Riajul Islam 
								p(name='title' class='text-slate-600 font-light text-sm ') #{new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}

							div(name='name-container' class='relative flex items-center justify-between')
								p(for='title' class='text-slate-600 font-light text-sm -mt-1 max-w-40 truncate') Senior Developer 
								p(name='title-icon' class=' text-blue-500 rounded-full ')
									//- span(class='px-1.5 rounded-full text-[length:12px] bg-blue-500 text-slate-50 absolute right-0 -top-1 ') 2 
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"/></svg>


						
						//- div(class='flex items-center justify-end')
							button(name='left-arrow' type='button'
								class='p-1 border border-slate-300 text-slate-500 rounded-full'
							)
								<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6z"/></svg>

					//- div(name='list-container' class='flex gap-2 px-2 py-1 bg-slate-50 hover:bg-slate-100 border-0 border-slate-300 rounded')
						div(class='h-full')
							img(src='/images/users/default.jpg' alt='avatar' class='h-10 border border-slate-300 rounded-full')

						div(class='label-container' class='flex-1')
							p(name='username' class='text-blue-600 font-medium w-48 truncate') Riajul Islam
							p(name='title' class='text-slate-600 font-light text-sm -mt-1 w-48 truncate') Senior Developer 
						
						div(class='flex items-center justify-end')
							button(name='left-arrow' type='button'
								class='p-1 border border-slate-300 text-slate-500 rounded-full'
							)
								<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6z"/></svg>


			div(name='middle-section' class='flex-1 flex flex-col')
				div(name='middle-top' class='h-16 mb-1 bg-blue-300 rounded')
					p middle 

				div(name='middle-bottom' class='h-full overflow-x-auto  bg-blue-300 rounded')
					p middle 


			div(name='right-side' class='w-1/4 flex flex-col')
				div(name='right-top' class='h-16 mb-1 bg-blue-300')
					div(name='search-container')
						input(type='search' class='w-full px-3 py-1.5 rounded-md border border-slate-300')

				div(name='right-bottom' class='h-full overflow-x-auto  bg-blue-300 rounded')
					p right 
					//- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, optio in harum dolorum, quam odit nesciunt libero accusamus aperiam deserunt quis porro. Non iste natus animi quaerat magni voluptas eligendi. 
