extends ../layout
block body
	style.
		@keyframes blink {
			0% {
				color: red;
				opacity: 100;
			}
			30% {
				opacity: 0;
			}
		}
		.blink {
			color: red;
			animation-name: blink; 
			animation-duration: 800ms;
			animation-iteration-count: infinite;
		}
block script
	script( defer type='module' src='/js/page/home.js')

	//- To prevent XSS attack on inline script
	script(nonce=cspNonce).
		const logedInUser = !{logedInUserJs} 		// pass logedInUser to client-side too

	div(class='h-screen ')
		div(class='relative p-1 flex gap-1 h-full border border-slate-200 rounded-md')


			//- left-side
			input(type='checkbox' id='left-side-checkbox' checked=true hidden class='peer/left-side-checkbox')
			div(name='left-side' class='absolute bg-slate-50 z-50 h-full md:static max-w-sm flex flex-col'
				class='-ml-[100vw] md:ml-0 peer-checked/left-side-checkbox:ml-0'
				class='transition-all duration-300 '
				)
				div(name='left-top' class='h-14')
					div(name='list-container' class='flex gap-2 h-full px-2 py-1 border border-slate-300 rounded')
						div(class='h-full relative flex-shrink-0 grid place-items-center')
							img(name='avatar' src=logedInUser.avatar || '' alt='avatar' class='w-12 h-12 border border-slate-300 rounded-full')
							div(name='avatar-badge' class='active hidden [&.active]:block absolute bottom-1 right-0.5 w-2 h-2 rounded-full bg-green-500')

						div(class='label-container' class='flex-1')
							p(name='username' 
								class='text-blue-600 font-medium max-w-40 truncate capitalize'
								) #{ `${logedInUser.firstName} ${logedInUser.lastName}` || 'Riajul Islam'}

							p(name='title' 
								class='text-slate-600 font-light text-sm -mt-1 max-w-40 truncate capitalize'
								) #{ logedInUser.title  || 'Senior Developer'}
						
						div(class='flex items-center justify-end md:hidden')
							label(for='left-side-checkbox' name='left-arrow' type='button'
								class='cursor-pointer p-1 border border-slate-200  text-slate-500 rounded-full'
								class='hover:border-slate-300 hover:bg-slate-50 hover:text-slate-600'
							)
								<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6z"/></svg>

				hr(class='my-1 border-spacing-x-0.5 border-slate-100')
				div(name='search-container' class=' mb-1 relative flex justify-center items-center')
					input(type='search' id='search-friends' placeholder='Search Friends'
						class='w-full pl-8 pr-3 py-1.5 rounded-md text-slate-700'
						class='border border-slate-300 focus:outline-none focus:border-blue-500'
						class='peer/search-friends'
					)
					label(for='search-friends' class='peer-focus/search-friends:text-blue-500 absolute left-2 text-slate-500 cursor-pointer')
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"/></svg>


				div(name='left-main' id='chats-container' class='h-full divide-y border border-slate-300 overflow-x-auto  bg-slate-50 rounded')
					div(name='friends-not-found' class='h-full grid place-items-center') 
						p(class='text-slate-500 lowercase') friend list is empty

					div(name='friends-list-container')

					//- Container will be populated by client-side
						//- if list-container has
							.active 								= add active indicator
							.message-success  			= Show success message tick
							.message-notification 	= show notification message numbers
									. 'message-notification' override 'message-success'
									. to empty notification and success both class must be removed 
						div(name='list-container' class='flex gap-2 px-2 py-1 bg-slate-50 hover:bg-slate-100 border-0 border-slate-300 rounded'
							class='group/firend-list active message-success message-notification'
							)
							div(class='flex-shrink-0 relative ')
								img(src='/images/users/default.jpg' alt='avatar' class='h-10 border border-slate-300 rounded-full')
								div(class='group-[.active]/firend-list:block hidden absolute bottom-2 -right-0.5 w-2 h-2 rounded-full bg-green-500')

							div(class='label-container' class='flex-1')
								div(name='name-container' class='flex items-center justify-between')
									p(name='username' class='text-blue-600 font-medium max-w-36 truncate') Riajul Islam 
									p(name='title' class='text-slate-600 font-light text-sm ') #{new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}

								div(name='name-container' class='relative flex items-center justify-between')
									p(for='title' class='text-slate-600 font-light text-sm -mt-1 max-w-40 truncate') Senior Developer 
									p(name='title-icon' class=' text-blue-500 rounded-full'
										class='[&>*:first-child]:[group-[.message-success]/friend-list:block'
										class='[&>*:last-child]:[&.message-notification]:block'
										class='group-[.message-success]/firend-list:[&>*:first-child]:block'
										class='group-[.message-notification]/firend-list:[&>*:last-child]:block'
									)
										<svg class='hidden' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"/></svg>
										span(class='hidden px-1.5 rounded-full text-[length:12px] bg-blue-500 text-slate-50 absolute right-0 -top-1 ') 2 


						


			//- middle-section
			div(name='middle-section' class='bg-slate-50 flex-1 flex flex-col')
				div(name='middle-top' class='h-14 ')
					div(name='selected-user-list-container' class='flex items-center gap-2 h-full px-2 py-1 border border-slate-300 rounded')
						label(for='left-side-checkbox' class='md:hidden cursor-pointer text-slate-700 ')
							<svg class='pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17h14M5 12h14M5 7h14"/></svg>

						div(class='h-full relative flex-shrink-0 grid place-items-center')
							img(name='avatar' src=logedInUser.avatar || '' alt='avatar' class='w-10 h-10 border border-slate-300 rounded-full')
							div(name='avatar-badge' class='hidden [&.active]:block absolute bottom-1 right-0.5 w-2 h-2 rounded-full bg-green-500')

						div(class='label-container' class='flex-1')
							p(name='username' class='text-blue-600 font-medium max-w-40 truncate capitalize'
								) #{ `${logedInUser.firstName} ${logedInUser.lastName}` || 'Riajul Islam'}

							p(name='title' 
								class='hidden text-slate-600 font-light text-xs -mt-1 max-w-40 truncate lowercase'
								) typing...
						



						div(name='search-messages-container' class='-mr-1.5 relative grid place-items-center ')
							input(type='checkbox' id='search-messages-checkbox' checked=false hidden class='peer/search-messages')
							input(type='search' id='search-messages' placeholder='Search Messages'
								class='max-w-md text-slate-700 px-2 py-1 border border-slate-300 rounded-md'
								class='focus:outline-none focus:border-blue-400'
								class='peer-checked/search-messages:scale-x-0 w-full transition-transform '
								class='duration-300 origin-right'
								)
							label(for='search-messages-checkbox' name='search-messages-button' 
								class='cursor-pointer text-slate-500 active:text-blue-500 absolute right-1'
								class='p-0.5 border border-slate-300 rounded-full'
							)
								<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314"/></svg>

						//- if has .active class then just style differently
						//- button(type='button' name='audio-call-button' 
							class='cursor-pointer text-slate-500 active:text-blue-500 '
							class='p-0.5 border border-slate-300 rounded-full -mr-1'
							class='hover:bg-slate-100 hover:border-slate-400 active:bg-slate-200/90'
							class='[&.active]:bg-slate-300 [&.active]:border-slate-500 [&.active]:text-slate-700 '
							class='active'
							)
							<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="currentColor" d="M17.536 4.384C19.597 4.1 21.33 5.361 22.15 7l2.017 4.033c1.119 2.238.476 4.864-1.22 6.516c-1.002.975-2.009 2.089-2.593 3.072a.332.332 0 0 0-.034.23c.54 2.926 2.523 5.817 4.292 7.89a.677.677 0 0 0 .724.187l3.975-1.242a5.25 5.25 0 0 1 5.892 2.036l2.877 4.185c.78 1.135 1.175 2.675.577 4.156c-.534 1.323-1.567 3.231-3.446 4.5c-1.95 1.316-4.621 1.816-8.116.618c-3.905-1.34-7.594-4.7-10.653-8.997c-3.077-4.324-5.61-9.725-7.146-15.357C7.844 13.51 8.72 9.93 10.782 7.625c1.989-2.224 4.839-2.979 6.754-3.242m2.377 3.735c-.457-.913-1.272-1.364-2.037-1.259c-1.701.234-3.831.867-5.23 2.432c-1.326 1.483-2.244 4.095-.94 8.878c1.465 5.368 3.877 10.498 6.772 14.565c2.913 4.093 6.223 6.983 9.427 8.082c2.855.979 4.69.495 5.906-.325c1.286-.869 2.077-2.25 2.527-3.364c.206-.51.117-1.17-.319-1.804l-2.877-4.184a2.75 2.75 0 0 0-3.086-1.067l-3.975 1.242c-1.188.371-2.526.04-3.371-.95c-1.841-2.157-4.187-5.465-4.85-9.06a2.829 2.829 0 0 1 .344-1.961c.758-1.274 1.958-2.573 2.997-3.585c1.015-.988 1.303-2.458.729-3.607z"/></svg>

						//- if has .active class then just style differently
						//- button(type='button' name='video-call-button' 
							class='text-slate-500 p-0.5 border border-slate-300 rounded-full'
							class='hover:bg-slate-100 hover:border-slate-400 active:bg-slate-200/90'
							class='[&.active]:bg-slate-300 [&.active]:border-slate-500 [&.active]:text-slate-700 '
							class=''
							)
							<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.5 6.5h6a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2m8 3l2.4-1.8a1 1 0 0 1 1.6.8v4a1 1 0 0 1-1.6.8l-2.4-1.8z"/></svg>

						//- if has .active class then style differently + select 2nd child
						button(type='button' name='audio-call-button' 
							class='text-slate-500  p-0.5 border border-slate-300 rounded-full -mr-1'
							class='hover:bg-slate-100 hover:border-slate-400 '
							class='active:bg-slate-200/90 active:text-blue-500'
							class='[&.active]:bg-blue-500/90 [&.active]:border-blue-500/80 [&.active]:text-slate-50 '
							class='[&>*:last-child]:[&.active]:block [&>*:first-child]:[&.active]:hidden'
							class='[&>*:first-child]:block'
							)
							<svg name='inactive-audio' class='hidden w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="currentColor" d="M17.536 4.384C19.597 4.1 21.33 5.361 22.15 7l2.017 4.033c1.119 2.238.476 4.864-1.22 6.516c-1.002.975-2.009 2.089-2.593 3.072a.332.332 0 0 0-.034.23c.54 2.926 2.523 5.817 4.292 7.89a.677.677 0 0 0 .724.187l3.975-1.242a5.25 5.25 0 0 1 5.892 2.036l2.877 4.185c.78 1.135 1.175 2.675.577 4.156c-.534 1.323-1.567 3.231-3.446 4.5c-1.95 1.316-4.621 1.816-8.116.618c-3.905-1.34-7.594-4.7-10.653-8.997c-3.077-4.324-5.61-9.725-7.146-15.357C7.844 13.51 8.72 9.93 10.782 7.625c1.989-2.224 4.839-2.979 6.754-3.242m2.377 3.735c-.457-.913-1.272-1.364-2.037-1.259c-1.701.234-3.831.867-5.23 2.432c-1.326 1.483-2.244 4.095-.94 8.878c1.465 5.368 3.877 10.498 6.772 14.565c2.913 4.093 6.223 6.983 9.427 8.082c2.855.979 4.69.495 5.906-.325c1.286-.869 2.077-2.25 2.527-3.364c.206-.51.117-1.17-.319-1.804l-2.877-4.184a2.75 2.75 0 0 0-3.086-1.067l-3.975 1.242c-1.188.371-2.526.04-3.371-.95c-1.841-2.157-4.187-5.465-4.85-9.06a2.829 2.829 0 0 1 .344-1.961c.758-1.274 1.958-2.573 2.997-3.585c1.015-.988 1.303-2.458.729-3.607z"/></svg>
							<svg name='active-audio' class='hidden w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="currentColor" d="M22.095 6.894c-.78-1.559-2.41-2.82-4.412-2.597c-1.791.199-4.45.865-6.263 3.049c-1.861 2.243-2.555 5.741-1.126 10.982c1.526 5.591 3.792 11.103 6.609 15.55c2.796 4.415 6.24 7.949 10.191 9.304c3.494 1.198 6.166.698 8.115-.618c1.88-1.269 2.912-3.178 3.446-4.5c.598-1.48.204-3.021-.576-4.157l-2.877-4.184a5.25 5.25 0 0 0-5.892-2.037l-3.976 1.243a.678.678 0 0 1-.723-.187c-1.77-2.073-3.753-4.964-4.292-7.89a.332.332 0 0 1 .033-.23c.585-.983 1.592-2.097 2.593-3.072c1.697-1.652 2.34-4.278 1.22-6.516z"/></svg>

						//- if has .active class then style differently + select 2nd child
						button(type='button' name='video-call-button' 
							class='text-slate-500  p-0.5 border border-slate-300 rounded-full -mr-1'
							class='hover:bg-slate-100 hover:border-slate-400 '
							class='active:bg-slate-200/90 active:text-blue-500'
							class='[&.active]:bg-blue-500/90 [&.active]:border-blue-500/80 [&.active]:text-slate-50 '
							class='[&>*:last-child]:[&.active]:block [&>*:first-child]:[&.active]:hidden'
							class='[&>*:first-child]:block'
							)
							<svg name='inactive-video' class='hidden w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.5 6.5h6a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2m8 3l2.4-1.8a1 1 0 0 1 1.6.8v4a1 1 0 0 1-1.6.8l-2.4-1.8z"/></svg>
							<svg name='active-video' class='hidden w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m15 9.649l5.646-2.137A1 1 0 0 1 22 8.448v7.109a1 1 0 0 1-1.351.936L15 14.375V16a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2z"/></svg>



				hr(class='my-1 border-spacing-x-0.5 border-slate-100')
				div(name='middle-main' class='flex-1 overflow-x-auto bg-slate-50 border border-slate-300 rounded')
					div(name='message-container' class='px-3 py-1.5 text-slate-700')
						div(name='text-message-container')
							//- message container : fill via client-side

						div(name='video-container' class='mb-2 hidden [&.active]:block')
							div(name='their-video-container' class=' border border-slate-200 max-h-80 aspect-video mx-auto relative')
								video(name='their-video' src='/music/video2.mp4' muted class='h-full')
								video(name='your-video' src='/music/video.mp4' muted class='w-32 aspect-video absolute top-0 left-0')

								div(name='recording-panel' class='flex absolute right-3 top-3 bg-slate-700/60 text-slate-50 px-3 py-1.5 rounded-md gap-2 items-center')
									input(type='checkbox' id='play-pause' class='peer/play-pause hidden')
									label(for='play-pause'
										class='cursor-pointer '
										class='peer-checked/play-pause:[&>*:first-child]:hidden [&>*:first-child]:block'
										class='peer-checked/play-pause:[&>*:nth-child(2)]:block [&>*:nth-child(2)]:hidden'
									)
										<svg class='block' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M6 19h4V5H6zm8-14v14h4V5z"/></svg>
										<svg class='hidden' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="m11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/></svg>

									button(name='stop-recording' class='cursor-pointer text-sm') Stop Recording

								//- 
									if we add .called class  in this container then other icons will be hidden
									if we add .active class  to any child of this container then they will be red color
								div(name='call-panel' 
									class='absolute bottom-4 left-0 w-full flex gap-2 justify-center items-center '
									class='[&.called_.called]:hidden'
									class='[&_.active]:bg-red-500 [&_.active]:scale-125 [&_.active:active]:bg-red-600 '
									class='peer-checked/call:[&>*:not(.active)]:hidden'
									class=''
									)

									input(type='checkbox' id='microphone-on-off' class='peer/microphone hidden')
									label(for='microphone-on-off'
										class='cursor-pointer p-2 rounded-full bg-slate-700/60 text-white hover:bg-slate-700/70 active:bg-slate-700/90 hover:scale-125 transition-transform duration-200'
										class='called'
										class='peer-checked/microphone:bg-slate-700/90 '
										class='peer-checked/microphone:[&>*:first-child]:hidden [&>*:first-child]:block'
										class='peer-checked/microphone:[&>*:nth-child(2)]:block [&>*:nth-child(2)]:hidden'
									)
										<svg class='block' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024"><path fill="currentColor" d="M512 128a128 128 0 0 0-128 128v256a128 128 0 1 0 256 0V256a128 128 0 0 0-128-128m0-64a192 192 0 0 1 192 192v256a192 192 0 1 1-384 0V256A192 192 0 0 1 512 64m-32 832v-64a288 288 0 0 1-288-288v-32a32 32 0 0 1 64 0v32a224 224 0 0 0 224 224h64a224 224 0 0 0 224-224v-32a32 32 0 1 1 64 0v32a288 288 0 0 1-288 288v64h64a32 32 0 1 1 0 64H416a32 32 0 1 1 0-64z"/></svg>
										<svg class='hidden' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024"><path fill="currentColor" d="m412.16 592.128l-45.44 45.44A191.232 191.232 0 0 1 320 512V256a192 192 0 1 1 384 0v44.352l-64 64V256a128 128 0 1 0-256 0v256c0 30.336 10.56 58.24 28.16 80.128m51.968 38.592A128 128 0 0 0 640 512v-57.152l64-64V512a192 192 0 0 1-287.68 166.528zM314.88 779.968l46.144-46.08A222.976 222.976 0 0 0 480 768h64a224 224 0 0 0 224-224v-32a32 32 0 1 1 64 0v32a288 288 0 0 1-288 288v64h64a32 32 0 1 1 0 64H416a32 32 0 1 1 0-64h64v-64c-61.44 0-118.4-19.2-165.12-52.032M266.752 737.6A286.976 286.976 0 0 1 192 544v-32a32 32 0 0 1 64 0v32c0 56.832 21.184 108.8 56.064 148.288z"/><path fill="currentColor" d="M150.72 859.072a32 32 0 0 1-45.44-45.056l704-708.544a32 32 0 0 1 45.44 45.056z"/></svg>

									input(type='checkbox' id='camera-on-off' class='peer/camera hidden')
									label(for='camera-on-off'
										class='cursor-pointer p-2 rounded-full bg-slate-700/60 text-white hover:bg-slate-700/70 active:bg-slate-700/90 hover:scale-125 transition-transform duration-200'
										class='called'
										class='peer-checked/camera:bg-slate-700/90 '
										class='peer-checked/camera:[&>*:first-child]:hidden [&>*:first-child]:block'
										class='peer-checked/camera:[&>*:nth-child(2)]:block [&>*:nth-child(2)]:hidden'
									)
										<svg class='block' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M20 4h-3.17L15 2H9L7.17 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2m0 14H4V6h4.05l1.83-2h4.24l1.83 2H20zM12 7a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m0 8a3 3 0 0 1-3-3a3 3 0 0 1 3-3a3 3 0 0 1 3 3a3 3 0 0 1-3 3"/></svg>
										<svg class='hidden' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M17 12c0 .54-.1 1.05-.26 1.54L15 11.78A3.057 3.057 0 0 0 12.22 9l-1.76-1.74c.49-.16 1-.26 1.54-.26c2.76 0 5 2.24 5 5M9.88 4h4.24l1.83 2H20v10.8l1.88 1.88c.08-.21.12-.44.12-.68V6c0-1.11-.89-2-2-2h-3.17L15 2H9L7.18 4L8.6 5.4zm12.23 17.46l-1.27 1.27L18.11 20H4a2 2 0 0 1-2-2V6c0-.58.25-1.1.65-1.46L1.11 3l1.28-1.27zM9 12c0 1.66 1.34 3 3 3c.33 0 .65-.07.94-.17l-3.77-3.77c-.1.3-.17.61-.17.94m7.11 6l-1.66-1.66c-.73.41-1.56.66-2.45.66c-2.76 0-5-2.24-5-5c0-.89.25-1.72.66-2.45L4.11 6H4v12z"/></svg>


									button(name='call' 
										class='cursor-pointer p-2 rounded-full bg-slate-700/60 text-white hover:bg-slate-700/70 active:bg-slate-700/90 hover:scale-125 transition-transform duration-200'
										class='mx-1 active'
									)
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M4.025 17L.4 13.475l1-1.025q2.175-2.225 4.963-3.337T12 8q2.85 0 5.625 1.113T22.6 12.45l1 1.025L19.975 17L16 14v-3.35q-.95-.3-1.95-.475T12 10q-1.05 0-2.05.175T8 10.65V14z"/></svg>

									input(type='checkbox' id='flip-camera' class='peer/flip-camera hidden')
									label(for='flip-camera'
										class='cursor-pointer p-2 rounded-full bg-slate-700/60 text-white hover:bg-slate-700/70 active:bg-slate-700/90 hover:scale-125 transition-transform duration-200'
										class='called'
										class='peer-checked/flip-camera:bg-slate-700/90 '
									)
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="M12 11h5l2-4h10l2 4h5v16H12z"/><circle cx="24" cy="18" r="4"/><path d="M24 38C12.954 38 4 33.523 4 28c0-1.422.594-2.775 1.664-4M24 38l-4-4m4 4l-4 4m12-4.832C39.064 35.625 44 32.1 44 28c0-1.422-.594-2.775-1.664-4"/></g></svg>

									input(type='checkbox' id='recording' class='peer/recording hidden')
									label(for='recording'
										class='cursor-pointer p-2 rounded-full bg-slate-700/60 text-white hover:bg-slate-700/70 active:bg-slate-700/90 hover:scale-125 transition-transform duration-200'
										class='called'
										class='peer-checked/recording:bg-slate-700/90 '
										class='peer-checked/recording:[&>*:first-child]:hidden [&>*:first-child]:block'
										class='peer-checked/recording:[&>*:nth-child(2)]:block [&>*:nth-child(2)]:hidden'
									)
										<svg class='block' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.3 2 2 8.3 2 16s6.3 14 14 14s14-6.3 14-14S23.7 2 16 2m0 20c-3.3 0-6-2.7-6-6s2.7-6 6-6s6 2.7 6 6s-2.7 6-6 6"/></svg>
										<svg class='hidden text-red-500' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256"><circle cx="127" cy="129" r="81" fill="currentColor" fill-rule="evenodd"/></svg>





										//- div(name='their-message-container' class='flex items-start gap-2 mb-2') 
											img(src='/images/logo.png' alt='their avatar' class='w-6 h-6 rounded-full')
											div(class='max-w-[80%] px-2 py-1 bg-slate-200 border border-slate-300 rounded-md rounded-tl-none')
												p(name='their-message' class='text-slate-600') ${encodedMessage} 

										//- div(name='your-message-container' class='flex items-end gap-2 mt-2')
											div(class='max-w-[80%] ml-auto px-2 py-1 bg-blue-200 border border-blue-300 rounded-md rounded-br-none')
												p(name='your-message' class='text-blue-950/80') ${encodedMessage}
											span(class='text-blue-500')
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z"/></svg>
				
										//- div(name='their-audio' id='unique-id' class='mb-2 max-w-[80%] p-1 flex gap-1 items-center bg-slate-100  border border-slate-200 rounded-md')
											div(class='relative')
												img(src='/images/users/default.jpg' alt='sender' class='w-10 h-10 rounded-full p-0.1 bg-white')
												button(type='button' class='p-[1px] rounded-full bg-slate-50 text-blue-500 absolute bottom-0.5 -right-0.5')
													<svg class='w-4 h-4 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3m7 9c0 3.53-2.61 6.44-6 6.93V21h-2v-3.07c-3.39-.49-6-3.4-6-6.93h2a5 5 0 0 0 5 5a5 5 0 0 0 5-5z"/></svg>

											div(name='wavefrom-container' class='flex-1 flex gap-2')
												input(type='checkbox' id='play-pause-checkbox' hidden class='peer/play-pause hidden')
												label(name='play-pause' for='play-pause-checkbox'
													class='cursor-pointer '
													class='peer-checked/play-pause:[&>*:first-child]:hidden [&>*:first-child]:block'
													class='peer-checked/play-pause:[&>*:nth-child(2)]:block [&>*:nth-child(2)]:hidden'
												)
													<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 5.14v14l11-7z"/></svg>
													<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 19V5h4v14zm-8 0V5h4v14z"/></svg>

												div(class='flex-1')
													div(id="waveform" class='flex-1')
													div(class='mb-0.5 flex justify-between items-center px-4 font-light text-xs text-slate-800')
														span 0.30
														span 3.45 pm

										//- div(name='your-audio' id='unique-id-2' class='mb-2 max-w-[80%] ml-auto p-1 flex gap-1 items-center' class=' bg-blue-200 text-blue-700 border border-blue-200 rounded-md')
											div(class='relative order-1')
												img(src='/images/users/default.jpg' alt='sender' class='w-10 h-10 rounded-full p-0.1 bg-white')
												button(type='button' class='p-[1px] rounded-full bg-slate-50 text-blue-500 absolute bottom-0.5 -left-0.5')
													<svg class='w-4 h-4 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3m7 9c0 3.53-2.61 6.44-6 6.93V21h-2v-3.07c-3.39-.49-6-3.4-6-6.93h2a5 5 0 0 0 5 5a5 5 0 0 0 5-5z"/></svg>

											div(name='wavefrom-container' class='flex-1 flex gap-2')
												input(type='checkbox' id='play-pause-checkbox' hidden class='peer/play-pause hidden')
												label(name='play-pause' for='play-pause-checkbox'
													class='cursor-pointer '
													class='peer-checked/play-pause:[&>*:first-child]:hidden [&>*:first-child]:block'
													class='peer-checked/play-pause:[&>*:nth-child(2)]:block [&>*:nth-child(2)]:hidden'
												)
													<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 5.14v14l11-7z"/></svg>
													<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 19V5h4v14zm-8 0V5h4v14z"/></svg>

												div(class='flex-1')
													div(id="waveform" class='flex-1')
													div(class='mb-0.5 flex justify-between items-center px-4 font-light text-xs text-slate-800')
														span 0.30
														span 3.45 pm

						

				form(name='middle-bottom' class='mt-1 ' class='relative flex justify-center items-center')
					input(name='write-message-input' type='search' placeholder='Write Your Message' 
						class='w-full pl-8 pr-32 py-2 rounded-md text-slate-800'
						class='border border-slate-300'
						class='focus:outline-none focus:border-blue-500'
						)

					//- input(type='checkbox' hidden id='microphone-icon-button' class='peer/microphone-icon-button')
					label(for='microphone-icon-button' type='button'
						class='text-slate-500/80 rounded-full cursor-pointer '
						class='absolute left-1'
						)
						<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><path fill="currentColor" d="M128 176a48.05 48.05 0 0 0 48-48V64a48 48 0 0 0-96 0v64a48.05 48.05 0 0 0 48 48M96 64a32 32 0 0 1 64 0v64a32 32 0 0 1-64 0Zm40 143.6V232a8 8 0 0 1-16 0v-24.4A80.11 80.11 0 0 1 48 128a8 8 0 0 1 16 0a64 64 0 0 0 128 0a8 8 0 0 1 16 0a80.11 80.11 0 0 1-72 79.6"/></svg>

					div(class='absolute right-1 flex items-center gap-1')
						input(type='file' hidden id='attachment-icon-button' class='peer/attachment-icon-button')
						label(for='attachment-icon-button' type='button'
							class='text-slate-500/80 rounded-full'
							class='hover:bg-slate-50 hover:text-slate-500'
							class='cursor-pointer peer-checked/attachment-icon-button:text-slate-600'
							)
							<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="none" stroke="currentColor" d="m13.5 7.5l-5.757 5.757a4.243 4.243 0 0 1-6-6l5.929-5.929a2.828 2.828 0 0 1 4 4l-5.758 5.758a1.414 1.414 0 0 1-2-2L9.5 3.5"/></svg>

						//- input(type='checkbox' hidden id='camera-icon-button' class='peer/camera-icon-button')
						input(type='file' id='camera-icon-button' hidden accept='image/*')
						label(for='camera-icon-button' type='button'
							class='text-slate-500/80 rounded-full'
							class='hover:bg-slate-50 hover:text-slate-500'
							class='cursor-pointer peer-checked/camera-icon-button:text-slate-600'
							)
							<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 4h-3.17L15 2H9L7.17 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2m0 14H4V6h4.05l1.83-2h4.24l1.83 2H20zM12 7a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m0 8a3 3 0 0 1-3-3a3 3 0 0 1 3-3a3 3 0 0 1 3 3a3 3 0 0 1-3 3"/></svg>

						input(type='checkbox' hidden id='emoji-icon-button' class='peer/emoji-icon-button')
						label(for='emoji-icon-button' type='button'
							class='text-slate-500/80 rounded-full'
							class='hover:bg-slate-50 hover:text-slate-500'
							class='cursor-pointer peer-checked/emoji-icon-button:text-slate-600'
							)
							<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="currentColor" d="M10 2a8 8 0 1 1 0 16a8 8 0 0 1 0-16m0 1a7 7 0 1 0 0 14a7 7 0 0 0 0-14m-2.845 9.427a4.011 4.011 0 0 0 5.512.17l.178-.17a.5.5 0 0 1 .767.636l-.057.07l-.023.022a5.011 5.011 0 0 1-7.087-.023a.5.5 0 0 1 .71-.705M12.5 7.5a1 1 0 1 1 0 2a1 1 0 0 1 0-2m-5 0a1 1 0 1 1 0 2a1 1 0 0 1 0-2"/></svg>
						div( name='picker-container'
							class='border border-red-500'
							class='absolute right-0 bottom-10'
							class='hidden peer-checked/emoji-icon-button:block'
							)

						button(for='send-icon-button' type='submit'
							class='text-slate-50 rounded-full bg-blue-500 p-2'
							class='hover:bg-blue-600/90 hover:text-white active:bg-blue-600'
							)
							<svg class='w-5 h-5 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2.01 21L23 12L2.01 3L2 10l15 2l-15 2z"/></svg>


			//- right side
			div(name='right-side' class='bg-slate-50 z-50 absolute right-0 h-full md:static  max-w-sm flex flex-col'
				class='hidden md:flex '
				)
				div(name='right-top' class='h-14 flex flex-col justify-end')
					div(name='search-container' class=' relative flex justify-center items-center')
						input(type='search' id='search-friends' placeholder='Search People'
							class='w-full pl-8 pr-3 py-1.5 rounded-md text-slate-700'
							class='border border-slate-300 focus:outline-none focus:border-blue-500'
							class='peer/search-friends'
						)
						label(for='search-friends' class='peer-focus/search-friends:text-blue-500 absolute left-2 text-slate-500 cursor-pointer')
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"/></svg>

				hr(class='my-1 border-spacing-x-0.5 border-slate-100')
				div(name='right-main' class='p-2 flex-1 overflow-x-auto text-slate-700 border border-slate-300 bg-slate-50 rounded')

					div(name='image-container' class='flex flex-col justify-center items-center border border-slate-100 py-2')
						img(src=logedInUser.avatar || '/images/users/default.jpg' alt='avatar' class='w-20 h-20 rounded-full border-2 border-slate-50')
						div
							p( class=' text-center text-slate-700 capitalize'
								) #{ `${logedInUser.firstName} ${logedInUser.lastName}` || 'Riajul Islam'}
							p(class='font-light text-sm text-slate-600 text-center -mt-1 capitalize'
							) #{logedInUser.title || 'Senior Web Developer'}

					div(name='call-container' class='flex justify-evenly mt-4')
						div(name='audio-call-container' class='flex flex-col justify-center items-center gap-1')
							button(name='audio-call-button' type='button' 
								class='p-2 rounded-full bg-slate-200/60 text-blue-500 border border-slate-50'
								class='hover:bg-slate-200/80 hover:border-slate-100'
								class='active:bg-slate-300/80 active:border-slate-200/80'
								class='grow-0'
								)
								<svg class='pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="currentColor" d="M6.987 2.066a2 2 0 0 1 2.327.946l.074.149l.662 1.471a2.497 2.497 0 0 1-.442 2.718l-.133.132l-1.043.973c-.188.178-.047.867.633 2.045c.612 1.06 1.11 1.555 1.355 1.582h.043l.053-.01l2.05-.627a1.5 1.5 0 0 1 1.564.441l.091.115l1.357 1.88a2 2 0 0 1-.125 2.497l-.122.126l-.542.514a3.5 3.5 0 0 1-3.715.705c-1.935-.78-3.693-2.562-5.29-5.328c-1.6-2.773-2.265-5.19-1.968-7.26a3.5 3.5 0 0 1 2.261-2.789l.193-.064z"/></svg>

							span(class='text-sm font-light text-slate-500') Audio Call

						p(name='vertical-divider' class='border-r border-slate-300') 

						div(name='video-call-container' class='flex flex-col justify-center items-center gap-1')
							button(name='video-call-button' type='button' 
								class='p-2 rounded-full bg-slate-200/60 text-blue-500 border border-slate-50'
								class='hover:bg-slate-200/80 hover:border-slate-100'
								class='active:bg-slate-300/80 active:border-slate-200/80'
								class='grow-0'
								)
								<svg class='pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26"><path fill="currentColor" d="M8.5 6C2.5 6 0 6.813 0 7.469V18.5c0 .641 2.5 1.5 8.5 1.5s8.5-.813 8.5-1.469V7.5C17 6.859 14.5 6 8.5 6m16.875.031a.885.885 0 0 0-.469.157l-6.5 4.187c-.25.188-.406.498-.406.813v3.624c0 .315.156.624.406.813l6.5 4.188c.176.133 1.032.55 1.032-.813V7c0-.787-.271-.981-.563-.969"/></svg>

							span(class='text-sm font-light text-slate-500') Video Call


					div(name='links-container' class='mt-4')
						div(name='view-friends-container' class='flex items-center gap-1')
							button(id='view-friends-button' type='button' 
								class='p-1 rounded-full bg-slate-200/50 text-slate-500 border border-slate-50'
								class='hover:bg-slate-200/80 hover:border-slate-100'
								class='active:bg-slate-300/80 active:border-slate-200/80'
								class='grow-0'
								)
								<svg class='w-4 h-4 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M230.92 212c-15.23-26.33-38.7-45.21-66.09-54.16a72 72 0 1 0-73.66 0c-27.39 8.94-50.86 27.82-66.09 54.16a8 8 0 1 0 13.85 8c18.84-32.56 52.14-52 89.07-52s70.23 19.44 89.07 52a8 8 0 1 0 13.85-8M72 96a56 56 0 1 1 56 56a56.06 56.06 0 0 1-56-56"/></svg>

							label(for='view-friends-button' class='hover:text-blue-500 cursor-pointer text-sm font-light text-slate-500') View Friends

						div(name='add-to-favorite-container' class='flex items-center gap-1')
							button(id='add-to-favorite-button' type='button' 
								class='p-1 rounded-full bg-slate-200/50 text-slate-500 border border-slate-50'
								class='hover:bg-slate-200/80 hover:border-slate-100'
								class='active:bg-slate-300/80 active:border-slate-200/80'
								class='grow-0'
								)
								<svg class='w-4 h-4 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3"/></svg>

							label(for='add-to-favorite-button' class='hover:text-blue-500 cursor-pointer text-sm font-light text-slate-500') Add to favorite


					div(name='attachments-container' class='my-4 ')
						p(class='font-medium text-slate-600') Attachments

						div(name='attachments-container' class='text-xs my-2 grid grid-cols-4 gap-2')
							button(class='w-14 h-14 bg-blue-100/80 grid place-items-center rounded-lg')
								span(class='text-blue-500') File

							button(class='w-14 h-14  bg-blue-100/80 grid place-items-center rounded-lg')
								span(class='text-blue-500') Audio

							button(class='w-14 h-14  bg-blue-100/80 grid place-items-center rounded-lg')
								span(class='text-blue-500') Video

							button(class='w-14 h-14  bg-blue-100/80 grid place-items-center rounded-lg')
								span(class='text-blue-500') Image

						p(class='text-center mt-4')
							a(href='#' class='text-blue-500 px-3 py-1.5 border border-blue-300 rounded-md') View All



