extends ../layout
block body
block script
	script( defer type='module' src='/js/page/login.js')

	.h-screen.flex.justify-center.items-center
		.w-96.bg-slate-100.m-auto.px-4.py-3.shadow-md.rounded.border.border-slate-200
			h1(class='text-blue-500 text-2xl text-center mb-6') Login

			form.flex.flex-col.gap-2.mb-2(name='login-form' action='/login' method='post')

				h2#error.text-red-500.text-center.capitalize #{errorMessage}

				+TextField({
					label: 'Your Email',
					name: 'email',
					type: 'email',
					placeholder: 'abc@gmail.com',
					value: email || '',
					helperText: 'email address is invalied',
					required: true
				})
				+TextField({
					label: 'Your Password',
					name: 'password',
					type: 'password',
					placeholder: 'yourPa$$w0rd',
					value: password || '',
					helperText: 'password is too short',
					required: true
				})

				div(class='mt-1 ')
					button( name='login' 
						class='w-full py-2 bg-blue-500 text-slate-50 uppercase'
						class='flex justify-center items-center'
						class='rounded shadow border border-blue-600'
						class='hover:bg-blue-600/90 active:bg-blue-600'
						class='disabled:bg-slate-300 disabled:text-slate-500 disabled:border-slate-400/30'
						class='group'
					) 
						span(class='block group-disabled:hidden') Login
						span(class='hidden group-disabled:block') 
							<svg class='pointer-events-none w-6 h-6' xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-dasharray="15" stroke-dashoffset="15" stroke-linecap="round" stroke-width="2" d="M12 3C16.9706 3 21 7.02944 21 12"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="15;0"/><animateTransform attributeName="transform" dur="1.5s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/></path></svg>
			
			.text-center
				a.text-blue-500.underline.decoration-dotted(href="/register") Don't have an account ? register here



