extends ../layout
block body
block script
	script( defer type='module' src='/js/page/profile.js')

	//- To prevent XSS attack on inline script
	script(nonce=cspNonce).
		const logedInUser = !{logedInUserJs} 		// pass logedInUser to client-side too

	- const fullName = `${logedInUser.firstName} ${logedInUser.lastName}`
	div(class='h-screen container mx-auto ')
		div(class='w-full md:w-3/4 mx-auto border-x border-slate-200 rounded-md')
			img( src=logedInUser.coverPhoto || '/images/users/coverPhoto.png'
				class='h-48 w-full object-cover'
				)
			div(class='flex justify-between items-start gap-2 pb-2  border border-slate-200')
				div(class='flex-1 relative px-2')
					img( 
						src=logedInUser.avatar || '/images/users/default.jpg'
						class='absolute h-20 w-20 -mt-10 rounded-full object-cover border-2 border-slate-50 shadow'
					)
					div(class='pt-10 flex flex-col gap-0.5 text-slate-500')
						p(class='text-slate-700 font-semibold capitalize') #{fullName}
						p(class='') @#{logedInUser.username || fullName.replace(' ', '')}

						div(class='flex gap-2 items-center')
							p
								span(class='text-slate-900') 1 
								a(href='#') following 
							p
								span(class='text-slate-900') 2 
								a(href='#') followers

				div(class='flex gap-2 pr-2 pt-2')
					button(class='text-blue-500 border border-blue-500 px-3 rounded-full') 
						<svg class=' w-8 h-8 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor"><rect width="16" height="12" x="4" y="6" rx="2"/><path d="m4 9l7.106 3.553a2 2 0 0 0 1.788 0L20 9"/></g></svg>

					button(
						class='text-blue-500'
						class='border border-blue-500 px-5 py-1 rounded-full'
						class='[&.active]:bg-blue-500 [&.active]:text-slate-50'
						) follow



	