extends ../layout
block body
block script
	script( defer type='module' src='/js/page/profile.js')
	//- script( defer src="/js/plugins/cropper/cropper.min.js") 

	//- To prevent XSS attack on inline script
	script(nonce=cspNonce).
		const logedInUser = !{logedInUserJs} 		// pass logedInUser to client-side too
		const profileUser = !{profileUserJs} 		// pass profileUser to client-side too

	- const fullName = `${profileUser.firstName} ${profileUser.lastName}`
	- const isOwner = profileUser._id.toString() === logedInUser._id.toString() 
	div(class='min-h-screen container mx-auto font-roboto')
		div(class='relative w-full md:w-3/4 mx-auto border-x border-slate-200 rounded-md')
			img( name='cover-photo' src=profileUser.coverPhoto || '/images/users/coverPhoto.png'
				class='h-48 w-full object-cover'
				)
			button(name='cover-photo-edit-button'
				class=' bg-slate-50 text-blue-500 shadow rounded-full p-1 '
				class='absolute right-3 top-3 hover:scale-105 transition-transform duration-75'
				class=isOwner ? 'block' : 'hidden'
				)
				<svg class='w-6 h-6 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m14.06 9.02l.92.92L5.92 19H5v-.92zM17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83a.996.996 0 0 0 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94z"/></svg>

			div(name='avatar-section' class='flex justify-between items-start gap-2 pb-2  border border-slate-200')
				div(class='relative flex-1 px-2')

					div(
						class='border border-blue-500 rounded-full'
						class='absolute h-20 w-20 -mt-10 overflow-hidden'
						class='group'
						)
						img( name='avatar'
							src=profileUser.avatar || '/images/users/default.jpg'
							class=' rounded-full object-cover border-2 border-slate-50 shadow'
						)
						button(name='avatar-edit-button'
							class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2'
							class='bg-blue-400/50 p-20 text-blue-700'
							class='opacity-0 group-hover:opacity-100 transition-opacity duration-100'
							class=isOwner ? 'block' : 'hidden'
							)
							<svg class='w-14 h-14 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 4h3l2-2h6l2 2h3a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2m8 3a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m0 2a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3"/></svg>


					div(class='pt-10 flex flex-col gap-0.5 text-slate-500')
						p(class='text-slate-700 font-semibold capitalize') #{fullName}
						p(class='') @#{profileUser.username || fullName.replace(' ', '')}

						div(class='flex gap-2 items-center')
							- const followings = profileUser.followings.length
							- const followers = profileUser.followers.length
							p(class='flex gap-1')
								span(class='text-slate-900') #{followings}
								a(href='#') following 
							p(class='flex gap-1')
								span(class='text-slate-900') #{followers}
								a(href='#') followers


				div(
					class=`${logedInUser._id.toString() === profileUser._id.toString() ? 'hidden' : 'flex'}`
					class='gap-2 pr-2 pt-2'
				)
					//- if has .active class then toggle style
					button( name='goto-message'
						class='text-blue-500'
						class='border border-blue-500 px-3 rounded-full'
						class='hover:text-blue-600 hover:border-blue-600 active:bg-blue-100'
						class='[&.active]:bg-blue-500 [&.active]:text-slate-50'
						class='[&.active]:hover:bg-blue-500/95 [&.active]:active:bg-blue-500/80'
						) 
						<svg class=' w-8 h-8 pointer-events-none' xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor"><rect width="16" height="12" x="4" y="6" rx="2"/><path d="m4 9l7.106 3.553a2 2 0 0 0 1.788 0L20 9"/></g></svg>

					//- if has .active class then toggle style
					button( name='follow-unfollow'
						class='text-blue-500'
						class='border border-blue-500 px-5 py-1 rounded-full'
						class='hover:text-blue-600 hover:border-blue-600 active:bg-blue-100'
						class='[&.active]:bg-blue-500 [&.active]:text-slate-50'
						class='[&.active]:hover:bg-blue-500/95 [&.active]:active:bg-blue-500/80'
						class=profileUser.followers.includes( logedInUser._id ) ? 'active' : ''
					)= profileUser.followers.includes( logedInUser._id ) ? 'following' : 'follow'
					

			//- Followers & Followings Section 
			div(class='border border-slate-100 shadow-sm mt-1')
				nav(name='tabs-container' class='grid grid-cols-2 ')
					a(
						href="#followers-tab" 
						class='border-b border-slate-100 hover:bg-blue-100 text-center p-2 '
						class='active [&.active]:border-blue-400 [&.active]:text-blue-500'
					) Followers

					a(
						href="#followings-tab" 
						class='border-b border-slate-100 hover:bg-blue-100 text-center p-2 '
						class='[&.active]:border-blue-400 [&.active]:text-blue-500'
					) Followings


				//- if has .active then shows 2nd tab, else first tab
				div(name='tabs-content-container' class='group border-b border-slate-200 py-1.5 px-3 mb-1')
					div(name='followers-container' class='block group-[&.active]:hidden' ) 
						p followers is empty
					div(name='followings-container' class='hidden group-[&.active]:block') 
						p followings is empty

					div(name='loading-container' hidden class='h-full flex flex-col justify-center items-center') 
						p(name='not-found' class='hidden text-slate-500') No tweets founds
						span(name='loading-icon' class='text-blue-500')
							<svg class='w-12 h-12' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="2" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(45 12 12)"><animate attributeName="r" begin="0.125s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(90 12 12)"><animate attributeName="r" begin="0.25s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(135 12 12)"><animate attributeName="r" begin="0.375s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(180 12 12)"><animate attributeName="r" begin="0.5s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(225 12 12)"><animate attributeName="r" begin="0.625s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(270 12 12)"><animate attributeName="r" begin="0.75s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="2" r="0" fill="currentColor" transform="rotate(315 12 12)"><animate attributeName="r" begin="0.875s" calcMode="spline" dur="1s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>


			//- div(name='update-form' class='mt-8 border border-slate-200 ')
				div(name='followings-container' class='flex flex-col md:flex-row') 
					select(class='w-full px-2 py-3 bg-red-500')
						option(class='appearance-none p-20 border border-red-500') one
						option(class='[select.selector]:p-2') one
						option(class='') one
					
					input(type='text' class='w-full border border-slate-300 px-2 py-1.5 ')


			//- div(name='user-info' class='my-2 border-b border-slate-300 px-3')
				p(class='text-2xl text-slate-800') Basic Information

				div(name='' class='flex flex-col md:flex-row gap-2 ')
					div(class='flex-1 border border-blue-50 overflow-auto')
						pre(class='px-2 text-slate-700') #{JSON.stringify(profileUser, null, 2)}

					//- div(class='flex-1 border border-blue-500')
						p right

			//- div(name='change-password' class='flex flex-col md:flex-row gap-2')
				div(class='flex-1 px-3 border border-red-500')
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				div(class='flex-1 px-3 border border-blue-500')
					p right